
body {
    background-color: rgb(18,18,24);
}

.explore-vid {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1;
    filter: saturate(0.5);
}

.explore-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Nexa", sans-serif;
    font-weight: 900;
    z-index: 1;
    color: #ffb9ea;
    padding-top: 6%;
  }

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
  }
  
  .box > div {
    width: 30%;
    margin: 1%;
    position: relative; /* set parent to relative position */
  }
  
  .box > div img {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid transparent;
    transition: 0.3s ease-out;
    opacity: 0.9;
    border-color: rgba(255, 185, 234, 0.3);
  }
  
  .box > div p {
    position: absolute; /* set child to absolute position */
    top: 50%; /* position text at 50% from top */
    left: 50%; /* position text at 50% from left */
    transform: translate(-50%, -50%); /* center text */
    margin: 0;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4); /* add semi-transparent background */
    transition: background-color 0.3s ease-out;
    font-size: 1.3rem;
    border-radius: 5px;
    max-width: 30%;
    min-width: 285px;
    padding: 8px;
    text-align: center;
    font-size: xx-large;
  }
  
  .box > div:hover img {
    border-color: rgba(255, 185, 234, 0.8); /* change border color on hover */
    opacity: 1;
  }
  
  .box > div:hover p {
    background-color: rgba(0, 0, 0, 0.8); /* darken background color on hover */
  }
    
  
  .explore-header:hover {
    animation: glitch 0.2s;
  }

  @keyframes glitch {
    0% {
      text-shadow: 
      -1px -1px 0px rgba(255, 255, 255, 0.7),
      1px 1px 0px rgba(255, 255, 255, 0.7),
      -3px -3px 0px rgba(255, 0, 0, 0.7),
      3px 3px 0px rgba(255, 0, 0, 0.7),
      -5px -5px 0px rgba(0, 255, 0, 0.7),
      5px 5px 0px rgba(0, 255, 0, 0.7),
      -7px -7px 0px rgba(0, 0, 255, 0.7),
      7px 7px 0px rgba(0, 0, 255, 0.7);
    
    }
    50% {
      text-shadow: none;
    }
    100% {
      text-shadow: 
      -1px -1px 0px rgba(255, 255, 255, 0.7),
      1px 1px 0px rgba(255, 255, 255, 0.7),
      -3px -3px 0px rgba(255, 0, 0, 0.7),
      3px 3px 0px rgba(255, 0, 0, 0.7),
      -5px -5px 0px rgba(0, 255, 0, 0.7),
      5px 5px 0px rgba(0, 255, 0, 0.7),
      -7px -7px 0px rgba(0, 0, 255, 0.7),
      7px 7px 0px rgba(0, 0, 255, 0.7);
    
    }
  }
  