* {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 24);
   /* NEXA-BOLD */
  font-family: "Nexa", sans-serif;
  font-weight: normal;
  color: whitesmoke;
}

nav {
  position: absolute;
  padding: 20px;
  z-index: 1;
  background-color: transparent;
}
.rocket {
  width: 75%;
  height: 75%;
  background-color: transparent;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  transition: text-shadow 0.3s ease-in-out;
}