* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 24);
   /* NEXA-BOLD */
  font-family: "Nexa", sans-serif;
  font-weight: normal;
  color: whitesmoke;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  transition: text-shadow 0.3s ease-in-out;
}

li:hover {
  animation: glitch 0.2s;
}


@keyframes glitch {
  0% {
    text-shadow: 
    -1px -1px 0px rgba(255, 255, 255, 0.7),
    1px 1px 0px rgba(255, 255, 255, 0.7),
    -3px -3px 0px rgba(255, 0, 0, 0.7),
    3px 3px 0px rgba(255, 0, 0, 0.7),
    -5px -5px 0px rgba(0, 255, 0, 0.7),
    5px 5px 0px rgba(0, 255, 0, 0.7),
    -7px -7px 0px rgba(0, 0, 255, 0.7),
    7px 7px 0px rgba(0, 0, 255, 0.7);
  
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 
    -1px -1px 0px rgba(255, 255, 255, 0.7),
    1px 1px 0px rgba(255, 255, 255, 0.7),
    -3px -3px 0px rgba(255, 0, 0, 0.7),
    3px 3px 0px rgba(255, 0, 0, 0.7),
    -5px -5px 0px rgba(0, 255, 0, 0.7),
    5px 5px 0px rgba(0, 255, 0, 0.7),
    -7px -7px 0px rgba(0, 0, 255, 0.7),
    7px 7px 0px rgba(0, 0, 255, 0.7);
  
  }
}
